:root {
  --main-thm: #4c63d6;
}

body {
  font-family: system-ui;
  background: var(--main-thm);
}

h1 {
  color: #fff;
}

#quote-box {
  width: 70%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
button {
  background: var(--main-thm);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

/* Predefined CSS */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.center-text {
  text-align: center;
}
